[submodule "anchor-counter"]
	path = anchor-counter
	url = https://github.com/Weebad123/anchor-counter.git
[submodule "anchor-student-intro"]
	path = anchor-student-intro
	url = https://github.com/Weebad123/anchor-student-intro-program.git
[submodule "anchor-movie-review-program"]
	path = anchor-movie-review-program
	url = https://github.com/Weebad123/anchor-movie-review-program.git
[submodule "anchor-token-movie-review"]
	path = anchor-token-movie-review
	url = https://github.com/Weebad123/anchor-token-movie-review.git
[submodule "anchor-student-intro-program"]
	path = anchor-student-intro-program
	url = https://github.com/Weebad123/anchor-student-intro-program.git
